<!doctype html>
<html>
    <head>
        <title>Vakt</title>

	    <% include ../partials/head %>
	</head>
    <body>
        <% include ../partials/header %>
		<div class="container">
		</div>

	    <main>
			<div class="jumbotron">
				<h1>You're a fag </h1>
				<p>Just kidding..... or am I?</p>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>

    </body>
</html>
